

            <!-- Footer -->
              <section id="footer">
                <ul class="icons">
                  <li><a href="mailto:{{site.author.email}}" class="fa-envelope"><span class="">Email</span></a></li>
                  <li><a href="https://www.linkedin.com/in/vika-kapitonenko-32347b130/" class="fa-linkedin-square"><span class="">LinkedIn</span></a></li>
                  <li><a href="https://github.com/{{site.author.github_username}}" class="fa-github"><span class="">GitHub</span></a></li>
                </ul>